<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Join</title>
</head>
<body>

<div th:each="item : ${ads}">
    <p th:text="${item}" />

</div>
<form method="post" action="/posts/creat" >
    Title:
    <input type="text" name="title">
    Body:
    <input type="text" name="body">

    <button  name="id" type="submit">Submit</button>



</form>
<form action="/posts/creat" method="post">
Delete Id:
<input type="text" name="idd">
    <button  name="idd" type="submit">Delete</button>
</form>
</body>
</html>